NEXTCLOUD_ADMIN_PASSWORD=superAdmin
COLLABORA_PASSWORD=superAdmin
TURN_SECRET=38019cec42d7a8c5ead6a53e193b2712
SIGNALING_SECRET=7f30632851aa27fbf7ea450bfaf9b7e7
INTERNAL_SECRET=66f008e4ae3287b6b320ac26f4766d09
MYSQL_ROOT_PASSWORD=superAdmin
MYSQL_PASSWORD=nextcloud
REDIS_PASSWORD=superAdmin

#NEXTCLOUD_ADMIN_PASSWORD=Securepassword
#MYSQL_ROOT_PASSWORD=Securepassword
#MYSQL_PASSWORD=Securepassword
#COLLABRA_PASSWORD=Securepassword
#TURN_SECRET=Secret from command openssl rand -hex 32
#SIGNALING_SECRET=Secret from command openssl rand -hex 32
#INTERNAL_SECRET=Secret from command openssl rand -hex 32
