NEXTCLOUD_ADMIN_PASSWORD=superAdmin
MYSQL_ROOT_PASSWORD=superAdmin
MYSQL_PASSWORD=nextcloud
COLLABORA_PASSWORD=superAdmin
REDIS_PASSWORD=superAdmin

#NEXTCLOUD_ADMIN_PASSWORD=Securepassword
#MYSQL_ROOT_PASSWORD=Securepassword
#MYSQL_PASSWORD=Securepassword
#COLLABRA_PASSWORD=Securepassword
#TURN_SECRET=Secret from command openssl rand -hex 32
#SIGNALING_SECRET=Secret from command openssl rand -hex 32
#INTERNAL_SECRET=Secret from command openssl rand -hex 32
