logs:
  access:
    enabled: true
ports:
  web: 
    port: 80
  websecure:
    port: 443
    exposedPort: 443

#enable gateway-api features
providers:
  kubernetesGateway:
    enabled: true
    experimentalChannel: false

#disable gateway-api defaults because we want to provide our own
gatewayClass:
  enabled: false

#disable gateway-api defaults because we want to provide our own
gateway:
  enabled: false