[req]
default_bits = 2048
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
C = BD
ST = Dhaka
L = Dhaka
O = AESL
OU = DevOps
CN = 172.17.17.252

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment, dataEncipherment
extendedKeyUsage = critical, serverAuth
subjectAltName = @alt_names

[alt_names]
IP.1 = 172.17.17.252
DNS.1 = collector.signoz.aesl