all:
  children:
    dev:
      hosts:
        proxmox-dev:
          ansible_host: 172.17.17.17
          ansible_user: root
          ansible_ssh_private_key_file: ~/.ssh/id_ed25519
      vars:
        env_name: dev
        proxmox_node: aes
        proxmox_api_host: 172.17.17.17
        proxmox_api_port: 8006
        ansible_api_token_secret: "31a9-c2b0-4098-8ac0-859ac"
        
        # Dev-specific VM templates
        vm_templates:
          - name: ubuntu-cloudimage-template
            os: ubuntu
            image_url: https://cloud-images.ubuntu.com/releases/plucky/release/ubuntu-25.04-server-cloudimg-amd64.img
            image_name: ubuntu-25.04-server-cloudimg-amd64.img
            vmid: 90000
            disk_size: 10G
            cores: "{{ common_vm_settings.cores }}"
            memory: "{{ common_vm_settings.memory }}"
            net0: "{{ common_vm_settings.net0 }}"
            storage: "{{ proxmox.storage }}"
            cloudinit: "{{ common_vm_settings.cloudinit }}"